/*---------------------------------------------------------------MOBILE FIRST*/
/*IMPORTS*/

/*NORM*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
/*VARIABLES*/
:root{
    /*PALETA DE COLORES*/
    --azulp:#232f3e;
    --blanco: #ffffff;
    --gris: #ebebeb;
    --verde: #157f1f;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    padding: 20px 0;
}

main {
    background-color: var(--gris);
}

main section {
    background-color: var(--blanco);
}
.imginfo {
    display: flex;
    font-size: 2em;
    margin-bottom: 20px;
    padding: 10px 0;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    color: var(--verde);
}

.prodimg {
    width: 30vw;
    height: auto;
}

.fo {
    margin: auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.cantidad {
    font-size: 2em;
    display: flex;
}

.numinp {
    width: 50%;
    position: relative;
    left: 10px;
}

.buttDel {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--gris);
}

.completar {
    text-align: center;
    background-color: var(--blanco);
    padding: 10px 0;
}
.completar button {
    padding: 10px;
    border: none;
    background-color: var(--verde);
    color: var(--blanco);
    border-radius: 10px;
    width: 80vw;
}