/*---------------------------------------------------------------MOBILE FIRST*/
/*IMPORTS*/

/*NORM*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
/*VARIABLES*/
:root{
    /*PALETA DE COLORES*/
    --azulp:#232f3e;
    --blanco: #ffffff;
    --gris: #ebebeb;
}

/*HEADER*/
.content {
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--azulp);
    padding: 10px 10px 15px 10px;
}
.logo{
    padding: 20px;
    background-color: var(--blanco);
    border-radius: 10px;
}
.tands{
    width: 70%;
}
.tools{
    display: flex;
    justify-content: space-between;
    font-size: 2.2em;
    color: var(--blanco);
}
.sbar form{
    display: flex;
    padding: 10px 0 0 0;
}
.sbar form input{
    width: 100%;
    border: none;
    border-radius: 5px 0 0 5px;
}
.sbar form button{
    border: none;
    background-color: var(--blanco);
    padding: 5px;
    border-radius: 0 5px 5px 0;
}

/*MAIN*/
main{
    background-color: var(--gris);
}

/*FOOTER*/
footer{
    background-color: var(--azulp);
    padding: 15px 0;
}
.fcont{
    width: 80%;
    margin: auto;
}
.ftools{
    display: flex;
    justify-content: space-between;
    font-size: 2.5em;
    color: var(--blanco);
}
.copy{
    margin-top: 15px;
    color: var(--blanco);
    text-align: center;
    font-size: 11px;
}