<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/hyf.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Cart</title>
</head>
<body>

    <header>
        <%- include('./partials/header')%>        
    </header>

    <main>
        <h2>CARRITO DE COMPRAS</h2>
        <section>
            <article>
                <div class="imginfo">
                    <img src="/img/noimg.jpg" class="prodimg">
                    <div class="info">
                        <div class="name"> Nombre de mueble </div>
                        <div class="price"> $######### </div>
                    </div>
                </div>
                <form class="fo">
                    <div class="cantidad">
                        <label for="cantidad"> Cantidad </label>
                        <input class='numinp' type="number" name="cantidad">
                    </div>
                    <button type="button" class="buttDel">Eliminar</button>
                </form>
            </article>
        </section>

        <div class='completar'>
            <button> FINALIZAR COMPRA </button>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer')%>
    </footer>

</body>
</html>