<div class="fcont">
    <div class="ftools">
        <div><i class="fab fa-facebook"></i></div>
        <div><i class="fab fa-twitter"></i></div>
        <div><i class="fab fa-whatsapp"></i></div>
        <div><i class="fas fa-headset"></i></div>
    </div>
    <div class="copy">©Copyright 2034. Todos los Derechos Reservados. Tumueble SAS - Nit. 555.5.555-5</div>
</div>
