<footer>
    <nav class="footer__container">
        <ul class="footer__containerRedSocial flx-ctr">
            <li class="footer__redSocial">
                <a href="#" class="footer__linkRedSocial">
                    <i class="iconify footer__iconRedSocial" data-icon="ph:youtube-logo"></i>
                </a>
            </li>
            <li class="footer__redSocial">
                <a href="#" class="footer__linkRedSocial">
                    <i class="iconify footer__iconRedSocial footer__iconFacebook" data-icon="vaadin:facebook-square"></i>
                </a>
            </li>
            <li class="footer__redSocial">
                <a href="#" class="footer__linkRedSocial">
                    <i class="iconify footer__iconRedSocial footer__iconTwitter" data-icon="jam:twitter-circle"></i>
                </a>
            </li>
            <li class="footer__redSocial">
                <a href="#" class="footer__linkRedSocial">
                    <i class="iconify footer__iconRedSocial" data-icon="icomoon-free:whatsapp"></i>
                </a>
            </li>
        </ul>
        <ul class="footer__rights">
            <a href="#" class="footer__linkRights">
                ©Copyright 2034. Todos los Derechos Reservados. Tumueble SAS - Nit. 555.5.555-5
            </a>
        </ul>    
    </nav>
</footer>

