<header>
    <nav class="menuBar">
        <ul class="menuBar__optionSite flx-ctr">
            <li class="menuBar__menu">
                <a href="#" class="menuBar__menuLink">
                    <i class="iconify menuBar__menuIcon" data-icon="ant-design:shop-outlined"></i>
                </a>
            </li>
            <li class="menuBar__nameSite">
                <a href="/" class="menuBar__nameSiteText">
                    TUMUEBLE
                </a>
            </li>
        </ul>
        <ul class="menuBar__optionUser flx-ctr">

            <!-- Section Searching -->
            <li>
                <a href="#" class="">
                    <i class="iconify menuBar__optionUserIcon" data-icon="bx:bx-search"></i>
                </a>
            </li>

            <!-- Section Cart -->
            <li>
                <a href="/cart" class="">
                    <i class="iconify menuBar__optionUserIcon" data-icon="akar-icons:cart"></i>
                </a>
            </li>

            <!-- Section Login -->
            <li>
                <a href="/login" class="">
                    <i class="iconify menuBar__optionUserIcon" data-icon="ri:login-circle-line"></i>
                </a>
            </li>
        </ul>                
    </nav>
</header>