<header>
    <div class="content"> 
        <div class="logo">LOGO</div>
        <section class="tands">
            <div class="tools">
                <div class="user"> <i class="fas fa-user-circle"></i> </div>
                <div class="cart"> <i class="fas fa-shopping-cart"></i> </div>
                <div class="exit"> <i class="fas fa-sign-out-alt"></i> </div>
                <div class="burger"> <i class="fas fa-bars"></i> </div>
            </div>
            <div class="sbar">
                <form> <input type="text" placeholder=" Buscar" name="search"> 
                    <button class="sbutt" type="submit"> <i class="fa fa-search"></i></button>
                </form>
            </div>
        </section>
    </div>
</header>
