<!-- Object needs for operated 
  settingGeneral, (See settingGeneralSite.json)
  index (See index.json)
-->
<head>
  <meta charset="<%- settingGeneral.charset %>" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link
    href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css "
    rel="stylesheet"
  /> -->
  <!-- <link rel="stylesheet" href="/css/hyf.css" /> -->
  <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css"/>

  <title><%- index.title %> | <%- index.name.toUpperCase() %></title>
</head>
