<header>
    <nav class="header__siteView">
        <ul class="header__optionSite">
            <li class="optionSite__menu">
                <a class="optionSite__menuIcon">
                    <i class="iconify op" data-icon="ant-design:shop-outlined"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="optionSite__nameText">
                        TUMUEBLE
                    </span>
                </a>
            </li>
        </ul>                
    </nav>
</header>
