* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-RedHatDispaly);
}

body{
  background-color: var(--color-bg-body);
}

.menuBar,
.miniBanner,
main,
.footer__container {
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-font-icons);
  display: inline-block;
}

a, button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

button{
  border-style: none;
  border-radius: 5px;
}

input[type="text"], input[type="file"], 
input[type="number"], input[type="email"],
input[type="date"],input[type="password"],
textarea, select{
  font-family: var(--font-RedHatDispaly);
  font-size: 15px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 13px;
  border-radius: 3px;
  border-color: var(--color-font-adminBar);
  background-color: var(--color-bg-cards);
  padding: 5px;
  width: 100%;
  display: block;
  resize: none;
}

input[type="text"],input[type="number"], 
input[type="date"],input[type="email"],
input[type="password"],textarea{
  border-width: 1px;
  border-style: solid;
}

input[type="file"]{
  margin-bottom: 5px;
  width: initial;
}

select{
  background-color: var(--color-bg-cards);
}

.product__inputText, .user__inputText{
  font-weight: bold;
  font-size: 15px;
  padding-left: 10px;
  display: block;
}