* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-RedHatDispaly);
}

body{
  background-color: var(--color-bg-body);
}

.menuBar,
.miniBanner,
main,
.footer__container {
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-font-icons);
  display: inline-block;
}

a, button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

button{
  border-style: none;
}

input, textarea{
  font-family: var(--font-RedHatDispaly);
  font-size: 15px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 13px;
}