* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-RedHatDispaly);
  background-color: var(--color-bg);
}

body {
  /* background-color: var(--color-bg-body);
  min-height: 100vh;*/

  flex-direction: column;
  width: 100%;
  display: flex;
  margin: 0px;
  min-height: 100vh;
  background-image: url("../../img/store/purty_wood.png");
  background-repeat: repeat;
  background-position: inherit;
}

.menuBar,
.miniBanner,
main,
.login__container,
.footer__container {
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-font-icons);
  display: inline-block;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

button {
  border-style: none;
  border-radius: 5px;
}

input[type="text"],
input[type="file"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea,
select {
  font-family: var(--font-RedHatDispaly);
  font-size: 15px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 13px;
  border-radius: 3px;
  border-color: var(--color-font-adminBar);
  background-color: var(--color-bg-cards);
  padding: 5px;
  width: 100%;
  display: block;
  resize: none;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="date"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
  box-shadow: 0px 0px 5px 0px var(--color-bg-miniBanner);
}

input[type="text"]:active,
input[type="file"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="date"]:active,
input[type="password"]:active,
textarea:active,
select:active {
  border-color: var(--color-bg-btnOk);
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
textarea,
select {
  border-width: 1px;
  border-style: solid;
}

input[type="file"] {
  margin-bottom: 5px;
  width: initial;
}

select {
  background-color: var(--color-bg-cards);
}

.product__inputText,
.user__inputText,
.login__inputText {
  font-weight: bold;
  font-size: 15px;
  padding-left: 10px;
  display: block;
}
