:root {
  --color-bg-primary: #232f3e;
  --color-font-icons: #ffffff;
  --color-font-menuBar: #ffffff;
  --color-bg: #e7e7e7;

  --text-title-sm: 1.2em;
  --text-title-md: 1.6em;
  --text-title-lg: 1.9em;

  --font-RedHatDispaly: "Red Hat Display", sans-serif;
}
