
<!--Remenber validate if the user is Admin or Normal-->
<nav class="adminBar flx-ctr">
    <a href="/admin" class="adminBar__principalIcon"><i class="iconify" data-icon="carbon:cics-system-group"></i></a>
    <a href="/admin/products" class="adminBar__principalIcon"><i class="iconify  adminBar__principalIconProducts" data-icon="akar-icons:shipping-box-02"></i></a>
    <a href="/admin/components" class="adminBar__principalIcon"><i class="iconify" data-icon="bx:bxs-category-alt"></i></a>
    <a href="/admin/user" class="adminBar__principalIcon"><i class="iconify adminBar__principalIconUser" data-icon="ant-design:user-outlined"></i></a>
</nav>