<section class="product">
    <nav class="product__bar flx-ctr product__titleNewProduct">
        <h1 class="product__titleNewProduct">Producto Nuevo</h1>
    </nav>
    
    <!-- Form new product  -->
    <form class="product__form" action="/admin/products/new" method="post" enctype="multipart/form-data">
        <div class="flx-ctr">
            <label class="product__inputText" for="product__imagesContainer">
                Imagenes *
            </label>
            
        </div>

        <!--Container images-->
        <div class="product__imagesContainer">
            <div class="product__imagesSlider flx-ctr">
                <!--Here, the cards of the images at pre-upload-->
                <img class="product__imagen" src="/img/store/products/camas/cama_felder.jpg" alt="Acá descripccion de la imagen">
                <img class="product__imagen" src="/img/store/products/colchones/MIGUEL-ANGEL-600x600.png" alt="Acá descripccion de la imagen">
                <img class="product__imagen" src="/img/store/products/comedores/carson_6puestos-scaled.jpg" alt="Acá descripccion de la imagen">
                <img class="product__imagen" src="/img/store/products/salas/SalaMilan.jpg" alt="Acá descripccion de la imagen">
            </div>
            
            <input type="file" name="" id="" class="product__imagesButtonAdd" multiple accept="image/png, .jpg, .jpeg, image/gif" required>
            
            <label class="product__inputText" for="product__imagesContainer">
                Propiedades
            </label>
            <textarea class="product__imagesDescription" name="imagenDescription" id="" rows="3" 
            placeholder="Ingrese una descripción de la imagen..."></textarea>

            <div class="product__imagesIsMainContiner flx-ctr">
                <label class="product__inputText">
                    ¿Es la imagen principal?
                </label>
                <div class="product__imagesContainerRadio flx-ctr">
                    <label class="product__inputText" for="mainImagenYes">Si</label>
                    <input type="radio" class="product__imagen-IsMain" name="imagen-isMain" id="mainImagenYes" value="1">
                </div>
                <div class="product__imagesContainerRadio flx-ctr">
                    <label class="product__inputText" for="mainImagenNo">No</label>
                    <input type="radio" class="product__imagen-IsMain" name="imagen-isMain" id="mainImagenNo" value="0">
                </div>
            </div> 
        </div>
        
        <!--name-->
        <label class="product__inputText" for="name">
            Nombre *
        </label>
        <input type="text" name="name" id="name" required minlength="2" maxlength="128"
        placeholder="Ingrese el nombre del producto...">

        <!--Description-->
        <label class="product__inputText" for="description">
            Descripción *
        </label>
        <textarea class="product__inputDescription" name="description" id="description" rows="4"
            minlength="2" maxlength="512" required
            placeholder="Ingrese la descripción del producto..."></textarea>

        <!--Terminate-->
        <label class="product__inputText" for="terminated">
            Acabado *
        </label>
        <input type="text" name="terminated" id="terminated" required minlength="2" maxlength="64"
        placeholder="Ingrese el acabado del producto...">    
        
        <!--SKU-->
        <label class="product__inputText" for="sku">
            Sku
        </label>
        <input type="text" name="sku" id="sku" minlength="2" maxlength="64"
        placeholder="Ingrese el sku del producto..."> 

        <!--Category-->
        <label class="product__inputText" for="categoryId">
            Categoría *
        </label>
        <select name="category" id="categoryId" class="product__inputCategory" required>
            <option value="">Seleccione</option>
            <option value="1">Sofás</option>
            <option value="2">Mesas</option>
            <option value="3">Sillas</option>
            <option value="4">Camas</option>
            <option value="5">Escritorios</option>
            <option value="6">Colchones</option>
            <option value="7">Peinadores</option>
            <option value="8">Sofa camas</option>
        </select>

        <!--Taxes-->
        <label class="product__inputText" for="taxesId">
            Impuestos *
        </label>
        <select name="taxes" id="taxesId" class="product__inputTaxes" required>
            <option value="">Seleccione</option>
            <option value="1">Iva 19%</option>
            <option value="2">Iva 8%</option>
            <option value="3">No aplica</option>
        </select>

        <!--Units-->
        <label class="product__inputText" for="unitsId">
            Unidades disponibles *
        </label>
        <input type="number" class="product__inputUnits" name="units" id="unitsId" min="0" required
        placeholder="Ingrese las unidades...">

        <!--Price gross-->
        <label class="product__inputText" for="priceGrossId">
            Precio bruto *
        </label>
        <input type="number" class="product__inputPriceGross" name="priceGross" id="priceGrossId" min="0" required
        placeholder="Ingrese el precio bruto...">

        <!--Price final-->
        <label class="product__inputText" for="priceFinalId">
            Precio final *
        </label>
        <input type="number" class="product__inputPriceFinal" name="priceFinal" id="priceFinalId" min="0" required
        placeholder="Ingrese el precio final...">

        <!--discount-->
        <label class="product__inputText" for="discountId">
            Descuento * <span class="product__inputLabelDescription">(automático)</span>
        </label>
        <input type="number" disabled class="product__inputDiscount" name="discount" id="discountId" min="0" required
        placeholder="Esperando precio bruto y final...">

        <!--buttons-->
        <div class="flx-ctr">
            <button type="reset" class="product__buttons product__buttonClear flx-ctr">
                <i class="iconify" data-icon="ic:baseline-restore"></i>
                Restablecer
            </button>
            <button type="submit" class="product__buttons product__buttonSend flx-ctr">
                Crear
                <i class="iconify" data-icon="mdi:cube-send"></i>
            </button>
        </div>
    </form>
   
</section>